# macOS
.DS_Store

# Windows
Thumbs.db

# VS Code
.vscode/

# JetBrains
.idea/

# Logs
*.log

# Environment variables
.env

# Node
node_modules/

# Build folders
dist/
build/

# Temporary files
*.tmp
*.cache

# Coverage
coverage/
